<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='./css/main.css' />
</head>

<body>
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">HJEM</a>
                        </li>
                        <li>
                            <a href="/about">OM SLIPSEKNUDEN</a>
                        </li>
                        <li>
                            <a href="/garanti">GARANTI</a>
                        </li>
                        <li>
                            <a href="/contact">KONTAKT</a>
                        </li>
                        <li>
                            <a href="/">NYHEDER</a>
                        </li>
                        <li>
                            <a href="/">PRODUKTER</a>
                        </li>
                        <li>
                            <input type="text">
                        </li>
                        <li>
                            <a class="icon" href="/">
                                <i class="fa fa-1x fa-search"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="/">
                                <i class="fa fa-1x fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="icon" href="/">
                                <i class="fa fa-1x fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <img src="img/logo.jpg">

        <div class="row">
            <div class="col-sm-3 left-nav">
                <h4>PRODUKTER</h4>
                <ul class="left-navbar-down">
                    <li>
                        <a href="/">ALLE</a>
                    </li>
                    <li>
                        <a href="/">SHOON</a>
                    </li>
                    <li>
                        <a href="/">KOREA SPECIAL</a>
                    </li>
                    <li>
                        <a href="/">US. IMPORTS</a>
                    </li>
                    <li>
                        <a href="/">SLEEK FABRICS UK</a>
                    </li>
                </ul>

                <div class="more2">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/slips/1_klassisk_brun.jpg" height="150px" width="auto">
                        </div>
                        <div class="col-sm-6 more2-text">
                            <h5>Shoon Slips</h5>
                            <p>Klassisk</p>
                            <h5>DKK 900,-</h5>
                        </div>
                    </div>
                    <a class="buyBtn" href="">INFO</a>
                </div>

                <div class="more2">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="img/slips/2_stribet_stil.jpg" height="150px" width="auto">
                        </div>
                        <div class="col-sm-6 more2-text">
                            <h5>US Imports</h5>
                            <p>Sølvpil</p>
                            <h5>DKK 600,-</h5>
                        </div>
                    </div>
                    <a class="buyBtn" href="">INFO</a>
                </div>

            </div>