<%- include ../partials/header2 %>

    <div class="col-sm-9">
        <div class="content">
            <h3>
                <%= about[0].title %>
            </h3>
            <p>
                <%= about[0].text %>
            </p>
            <img src="img/slips/10_tern.jpg">
        </div>
        <div class="row anders">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="img/medarbejdere/jan.jpg" width="100px" height="auto">
                    </div>
                    <div class="col-sm-8 person-text">
                        <h6>Anders Hansen</h6>
                        <h6>Direktør</h6>
                        <p>Email: chefen@slipseknuden.dk</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row personer">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="img/medarbejdere/anders.jpg" width="auto" height="100px">
                    </div>
                    <div class="col-sm-8 person-text">
                        <h6>Anders Hansen</h6>
                        <h6>Direktør</h6>
                        <p>Email: chefen@slipseknuden.dk</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="img/medarbejdere/annelise.jpg" width="100px" height="auto">
                    </div>
                    <div class="col-sm-8 person-text">
                        <h6>Anders Hansen</h6>
                        <h6>Direktør</h6>
                        <p>Email: chefen@slipseknuden.dk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <%- include ../partials/footer %>