<%- include ../partials/header2 %>

    <div class="col-sm-9 contact">
        <h1>KONTAKT</h1>
        <div class="row">
            <div class="col-sm-2">
                <p>NAVN</p>
                <p>E-MAIL</p>
            </div>
            <div class="col-sm-3">
                <input type="text">
                <input type="text">
            </div>
            <div class="col-sm-4">
                <img src="img/slips/10_tern.jpg">
            </div>
        </div>
    </div>
    </div>
    </div>
    <%- include ../partials/footer %>